<%= stylesheet_link_tag 'navbar.css' %>

<div class="navbar">
  <h1 id="brand-text">Ruby On Rails</h1>

  <ul id="nav-list">
    <%# link_to "TEXT", route, styling class/id:"value" %>
    <li><%= link_to "Home", home_path, class:"nav-items"%></li>
    <li><%= link_to "Sign Up", sign_up_path, class:"nav-items"%></li>
    <li><%= link_to "Login", sign_in_path, class:"nav-items"%></li>
  </ul>
</div>
